/* Provide sufficient contrast against white background */
body {
  background-color: #f4f5fd !important;
  font-family: "Roboto";
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

p {
  margin: 0px;
}

.btn-primary {
  background-color: #1b6ec2;
  border-color: #1861ac;
  color: #fff;
}
